@page
@model TestTaskVodokanal.Pages.ApplicationPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Информация</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Application.RegistrationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application.RegistrationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Application.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Application.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Application.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application.Description)
        </dd>
    </dl>
</div>

<div>
    <h3>
        Информация о заявке
    </h3>
    <table class="table">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Статус</th>
                <th>Комментарий</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Historys)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Application.ApplicationID">Редактировать</a> |
    <a asp-page="./Index">Назад к списку</a>
</div>
