@page
@model TestTaskVodokanal.Pages.ApplicationPages.IndexModel
@using TestTaskVodokanal.Models;

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Дата регестрации</th>
            <th>
                <a asp-page="./Index" 
                   asp-route-sortOrder="@Model.StatusSort" 
                   asp-route-currentFilter="@Model.CurrentSort">
                    Статус
                </a>
            </th>
            <th>Имя</th>
            <th>Описание</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Application.Applications)
        {

            string selectedRow = "";
            if (item.ApplicationID == Model.ApplicationID)
            {
                // Динамически добавляет class="success" к элементу tr
                // выбранного преподавателя. Этот параметр задает цвет фона для
                // выделенных строк c помощью класса Bootstrap.
                selectedRow = "success";
            }

            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@item.ApplicationID">Информация</a> |
                    <a asp-page="./Edit" asp-route-id="@item.ApplicationID">Редактировать</a> |
                    <a asp-page="./Details" asp-route-id="@item.ApplicationID">Обзор</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ApplicationID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*Отображает историю выбранного элемента *@
@if (Model.Application.Historys != null)
{
    <h3>
        Информация о заявке
    </h3>
    <table class="table">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Статус</th>
                <th>Комментарий</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Application.Historys)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
