@page
@model TestTaskVodokanal.Pages.ApplicationPages.IndexModel
@using TestTaskVodokanal.Models;

@{
    ViewData["Title"] = "Index";
}

<h2>Список заявок</h2>

<p>
    <a asp-page="Create">Создать новую завку</a>
</p>

<form>
    <div class="form-actions no-color">
        <p>
            Фильтр по статусу
            <select asp-for="SelectSortStatus" asp-items="Html.GetEnumSelectList<Status>()">
            </select>
            Фильтр по дате:
            <label asp-for="DateTimeSort.DateTimeMin"></label>
            <input asp-for="DateTimeSort.DateTimeMin" />
            <label asp-for="DateTimeSort.DateTimeMax"></label>
            <input asp-for="DateTimeSort.DateTimeMax" />
            <input type="submit" value="Отфильровать">
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Дата регестрации</th>
            <th>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.StatusSort"
                   asp-route-currentFilter="@Model.CurrentSort">
                    Статус
                </a>
            </th>
            <th>Имя</th>
            <th>Описание</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Application.Applications)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.ApplicationID">Информация</a> |
                    <a asp-page="./Edit" asp-route-id="@item.ApplicationID">Редактировать</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ApplicationID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
